# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Flask
instance/
.webassets-cache

# Environment variables
.env

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Database
*.sqlite3
